{% extends 'base.html.twig' %}

{% block title %}Liste Cartes{% endblock %}

{% block body %}
    <h1>Liste Cartes</h1>
    <a class="btn btn-success" href="{{ path('app_card_new') }}">Nouvelle carte</a>

    <button class="btn btn-warning" id="displayNewList">Test - dis moi si ca te convient comme listing ou si tu prefere la liste -->CLICK<--</button>
    <br><br>

    <div class="container" id="test-newlist">
        <div class="row">
            {% for card in cards %}
                <div class="col">
                    <div class="card" style="width: 18rem; height: 15rem; margin-bottom: 15px">
                        <div class="card-body" style="
                                text-align: center;
                        {% if card.color is null %}
                                background-color: white;
                        {% elseif card.color == 0 %}
                                background-color: yellow;
                        {% elseif card.color == 1 %}
                                background-color: indianred;
                        {% elseif card.color == 2 %}
                                background-color: darkgreen;
                        {% else %}
                            background-color: white;
                        {% endif %}
                                ">
                            <div style="border-bottom: 2px black solid; text-align: center; margin-bottom: 10px">
                                <h5 class="card-title">{{ card.title}}</h5>
                            </div>
                            <p class="card-text">{{ card.text}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Deck</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.title }}</td>
                <td>{{ card.text }}</td>
                <td>{{ card.deck }}</td>
                <td>{{ card.colorName }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_card_show', {'id': card.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_card_edit', {'id': card.id}) }}">Modifier</a>
                    {{ include('card/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}