{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <a href="{{ path('app_deck_index') }}">Mes deck</a>
        <a href="{{ path('app_deck_new') }}">Créer deck</a><br>
        <a href="{{ path('app_card_index') }}">Mes carte</a>
        <a href="{{ path('app_card_new') }}">Créer carte</a><br>
        <a href="{{ path('newgame') }}">Partie</a>
    </div>
{% endblock %}
