{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center">
        <div class="container">
            <a class="btn btn-secondary" href="{{ path('app_deck_index') }}">Mes deck</a>
            <a class="btn btn-secondary" href="{{ path('app_card_index') }}">Mes carte</a>
            <a class="btn btn-success" href="{{ path('app_deck_new') }}">Créer deck</a>
            <a class="btn btn-success" href="{{ path('app_card_new') }}">Créer carte</a><br><br>
            <a class="btn btn-primary" href="{{ path('newgame') }}">Partie</a>
        </div>
    </div>
{% endblock %}
