{% extends 'base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block body %}
    <h1>Deck</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deck.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ deck.title }}</td>
            </tr>
            <tr>
                <th>Cards</th>
                <td>
                {% for card in deck.cards %}
                    <p>Carte numéro : {{ card.id }} - {{ card.title }}</p>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_deck_index') }}">back to list</a>

    <a href="{{ path('app_deck_edit', {'id': deck.id}) }}">edit</a>

    {{ include('deck/_delete_form.html.twig') }}
{% endblock %}
